#about {
  position: relative;
  height: 100vh;
  background: url('../../assets/images/about.jpg') no-repeat center;
  background-size: cover;
  overflow: hidden;
}
#about:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
}
#about.overlay { overflow: visible; }
#about.overlay .synopsis,
#about.overlay .synopsis__inside {
  display: block;
  z-index: 4;
}